<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Welcome to the PostIt</title>
    <meta charset="utf-8">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family:sans-serif; font-size:20px; font-weight: bold">
        <a class="navbar-brand">PostIt</a>
        <div id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/new">Create Post</a>
            <a class="nav-link" href="/">Home</a>
              </div>
            </div>
        </nav>
  </head>
  <body>
    <div class="card">
      <h1>{{ userr }}</h1>
      <h3><i>Followers</i></h3><h3><a href="/followers?id={{myuser.key.id()}}">{{ count1 }}</a></h3>
      <h3><i>Following</i></h3><h3><a href="/following?id={{myuser.key.id()}}">{{ count2 }}</a></h3>

      <div>
      {% if userr != user.email() and userr not in mainuser.following %}
      <form class="" action="/profile?id={{myuser.key.id()}}" method="post">
        <button class="btn btn-success" name="follow" value="follow">Follow</button>
          </form>

      {% elif userr != user.email() %}
      <form action="/profile?id={{myuser.key.id()}}" method="post">
        <button class="btn btn-danger" name="unfollow" value="unfollow">Unfollow</button>
          </form>
        {% endif %}
      </div>
    </div>

        {% for i in post_details %}
      <div class="card-deck" style="display: inline-block;">
        <div class="card text-white bg-dark mb-3">
            <img src="/display/{{i.imagekey_blob }}" alt="" width="auto" height="400px">
            <p>{{i.caption }}</p>
          </div>
        </div>
      {% endfor %}

  </body>
</html>
